<div class="container mx-auto px-4 py-12">
  <h2 class="font-semibold text-2xl mb-4">About Us</h2>
  <p class="text-slate-950 mb-4">
    Meal Planner is a free, easy-to-use meal planning app that helps users create and manage personalized meal plans. Our mission is to make meal planning simple, enjoyable, and effective for everyone. We believe that a well-planned meal can save time, money, and effort while contributing to a healthier and happier lifestyle.
  </p>
  <p class="text-slate-950">
    Our team is dedicated to continuously improving the user experience and incorporating valuable feedback from our users. Thank you for choosing Meal Planner and being part of our growing community!
  </p>
</div>
