<div class="container mx-auto px-4 py-12">
  <h2 class="font-semibold text-2xl mb-6">Frequently Asked Questions</h2>
  <dl>
    <dt class="font-semibold mb-1">Is it free to sign up?</dt>
    <dd class="mb-4">Yes, it is completely free to sign up and use our meal
      planning features.</dd>

    <dt class="font-semibold mb-1">Do I need to enter credit card info?</dt>
    <dd class="mb-4">No, there is no need to enter any credit card information.
      Meal Planner is a free service.</dd>

    <dt class="font-semibold mb-1">How do I report an issue?</dt>
    <dd class="mb-4">If you encounter any issues, please use the contact form on
      our Contact Us page to report them. Our team will work to resolve the
      issue as soon as possible.</dd>

    <dt class="font-semibold mb-1">How do I contact an administrator?</dt>
    <dd class="mb-4">To contact an administrator, please use the contact form on
      our Contact Us page. We will get back to you as soon as we can.</dd>

    <dt class="font-semibold mb-1">How do I add a meal?</dt>
    <dd class="mb-4">
      To add a meal, click on a date on the calendar. Select the type of meal "breakfast, dinner,
      lunch, or snack", fill in the information, and click the "Add Meal" button. The meal will appear in
      the calendar.
    </dd>

    <dt class="font-semibold mb-1">How do I update or delete a meal?</dt>
    <dd class="mb-4">
      To edit or delete a meal, click on an existing meal from the
      calendar. Update the form fields and click the "Update" button to save the changes. To
      delete the meal, simply click the "Delete" button.
    </dd></dl>
</div>