  <button
          type="submit"
          id="deleteUser"
          class="bg-red-500 text-white font-semibold px-2 py-1 rounded-lg hover:bg-red-700"
          style=" margin-right:1%; float:right"
        >Delete Account
  </button>
<div class="w-full max-w-md mx-auto mt-10 px-4">
  <h2 class="text-2xl font-semibold text-center mb-6">User Settings</h2>
  
  <form id="settings-form" class="bg-white rounded-lg p-8">

    <div class="mb-6">
      <label for="name" class="block text-gray-700">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="w-full border border-gray-300 rounded-lg mt-2 p-2"
        value=""
        required
      />
    </div>

    <div class="mb-6">
      <label for="email" class="block text-gray-700">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="w-full border border-gray-300 rounded-lg mt-2 p-2"
        value=""
        required
      />
    </div>

    <div class="mb-6">
      <label for="password" class="block text-gray-700">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="w-full border border-gray-300 rounded-lg mt-2 p-2"
        value=""
        required
      />
    </div>

    <div class="mb-6">
      {{!-- <label for="theme" class="block text-gray-700">Theme</label>
      <select
        name="theme"
        id="theme"
        class="w-full border border-gray-300 rounded-lg mt-2 p-2"
        disabled
      >
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select> --}}
      <div class="flex justify-between mt-2">
        <button
          type="submit"
          id="updateUser"
          class="bg-blue-500 text-white font-semibold px-2 py-1 rounded-lg hover:bg-blue-600"
        >Update Account</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/settings.js"></script>
