<section class="pt-10 my-5 text-center">
  <h1 class="font-bold text-4xl mb-4">Welcome to Meal Mappr</h1>
  <p class="text-xl mb-8">Your personal assistant for meal planning and tracking</p>
  <a
    href="/users/signup"
    class="bg-blue-500 text-white px-6 py-3 rounded font-semibold"
  >Get Started</a>
</section>
<section class="py-16 grid grid-cols-1 md:grid-cols-3 gap-8">
  <div class="bg-white p-6 rounded shadow-lg text-center">
    <img
      src="/images/meals.jpg"
      alt="Calendar icon"
      class="mx-auto mb-4"
    />
    <h2 class="font-semibold text-2xl mb-4">Plan Your Meals</h2>
    <p>Organize your meals in a calendar view, making it easy to see what you
      have planned for the week or month.</p>
  </div>
  <div class="bg-white p-6 rounded shadow-lg text-center">
    <img
      src="/images/recipe.jpg"
      alt="Recipes icon"
      class="mx-auto mb-4"
    />
    <h2 class="font-semibold text-2xl mb-4">Discover Recipes</h2>
    <p>Explore a variety of recipes and add them to your meal plan. You can even
      add your own custom recipes!</p>
  </div>
  <div class="bg-white p-6 rounded shadow-lg text-center">
    <img
      src="/images/mealtracking.jpg"
      alt="Nutrition icon"
      class="mx-auto mb-4"
    />
    <h2 class="font-semibold text-2xl mb-4">Track Nutrition</h2>
    <p>Keep track of your daily nutritional intake and set goals for
      macronutrients to stay on track with your health.</p>
  </div>
</section>